body.bg-light {
    background: linear-gradient(to right, #5d11af, #205abf);
    min-height: 100vh;
}


.card.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border: none;
    border-radius: 10px;
}

.card-body pre {
    font-size: 13px;
    line-height: 1.4;
    max-height: 400px;
    overflow-y: auto;
    font-family: 'Courier New', monospace;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
}
